<div style="font-size: 25px;">
    <div class="footer" style="background-color: rgb(57, 54, 54);font-size: 20px;" >
        <div class="row">
          <div class="col">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: rgb(107, 107, 52);">QUICK LINK </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="products"style="color: aliceblue;">Movies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink=""style="color: aliceblue;">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="contact_us"style="color: aliceblue;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: rgb(109, 109, 64);">MOVIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Tickets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Book Ticket</a>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: rgb(109, 109, 64);">LANGUAGES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Malayalam</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Hindi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Tamil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">English</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Telugu</a>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: rgb(109, 109, 64);">BOOKING</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Seats Available</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Payment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Cancellation
                </a>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: rgb(109, 109, 64);">HELP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="" style="color: aliceblue;">Terms and Conditions</a>
              </li>
            </ul>
          </div>
        </div>
         <br>
        <hr style="color: beige;">
        <br>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="icons">
          <button type="button" class="btn"><a href="#" class="fa fa-facebook"></a></button>&nbsp;
          <button type="button" class="btn"><a href="#" class="fa fa-twitter"></a></button>&nbsp;
          <button type="button" class="btn"><a href="#" class="fa fa-instagram"></a></button>&nbsp;
          <button type="button" class="btn"><a href="#" class="fa fa-youtube"></a></button>&nbsp;
          <button type="button" class="btn"><a href="#" class="fa fa-pinterest"></a></button>&nbsp;
          <button type="button" class="btn"><a href="#" class="fa fa-linkedin"></a></button>
        </div>
        <br>
        <h6 style="color: rgb(112, 103, 103); text-align: center;">copyright 2024 © Entertainment Pvt. Ltd. All rights reserved.</h6>
        <p style="padding-left: 30px; padding-right: 30px; font-size: 11px; color: rgb(127, 118, 118);text-align: center;">
          The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website is intended to promisenthe works and no endorsement of the artist shall <br> be implied. Unauthorized use is prohibited and punishable by law.
        </p>
        <br>
    </div>
  </div>
  